<nav>
  <div class="container">
    <div class="menu">
      <ul class="menu-list">
        <li><a href="/home">Home</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Most popular</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
