<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title, css}) %>
  <body>
    <main class="landing">
      <div class="landing-content">
        <h1>Welcome to Animeventory</h1>
        <p>Store and manage your favorite anime easily!</p>
        <a href="/home" class="btn-home">Get Started</a>
      </div>
    </main>
  </body>
</html>
