<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title, css}) %>
  <body>
    <%- include('partials/navigation') %>
    <h1>This page is working!</h1>
    <form action="/search" method="GET">
      <input type="text" name="search" placeholder="Search anime..." />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
