<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title, css, script}) %>
  <body>
    <h1>Admin Login</h1>
    <form action="/admin" method="POST">
      <% if (errors && errors.length) { %>
      <span class="pass-error"><%= errors[0].msg %></span>
      <% } %>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
