body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}
.btn-action {
  background-color: #cdcece;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.modal-container {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-container.active {
  display: flex;
}

.modal {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.3s ease;
}
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.modal-container {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-container.active {
  display: flex;
}

.modal {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.3s ease;
}

.form-group {
  margin-bottom: 1rem;
}

.genre-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.genre-options label {
  border-radius: 20px;
}

.genre-options span {
  background: #f0f0f0;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  user-select: none;
  display: inline-block;
}

.genre-options input[type="checkbox"] {
  display: none; /* hide the actual checkbox */
}

.genre-options input[type="checkbox"]:checked + span {
  background-color: #4caf50;
  color: white;
}

.genre-options label span:hover {
  background-color: #ddd;
}

.form-actions {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 15px;
  border-top: 1px solid #eee;
  background-color: #fafafa;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.anime-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
}

.anime-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.anime-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: #ddd;
}

.anime-card-content {
  padding: 0 15px 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anime-card-content h3 {
  margin: 1rem 0;
  font-size: 1.4rem;
}
.anime-card-content p {
  min-height: 32px;
}

.anime-card-title {
  display: block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.anime-card-genres {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
